<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/helloWorld.js" defer></script>
    <script type="text/javascript" src="/indexedDbTest.js" defer></script>
    <link rel="serviceworker" href="serviceworker.js">
</head>
<body>
    <div class="content">
        <h1 class="header">My vanila project</h1>
        <p>My goal is this prosject, is creating a vanila enviorment,
            where I can try out programming patterns and try to make new teck from the bottom up </p>

        <button id="testButton">Click me</button>

        <ul id="customers"></ul>
        
        <img src="/beer.jpeg">
    </div>
</body>
</html>


<script>
    if (navigator.serviceWorker) {
        navigator.serviceWorker.register('serviceworker.js').then(() => {
            console.log('registert serviceworker')
        }).catch(() => {
            console.log('Noe feil har skjedd, klarte ikke å registrere serviceworker')
        })
    }
</script>