<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="content">
    <h1 class="header">Offline</h1>
    <p>This is a default page, while wainting to start up :) </p>
</div>
</body>
</html>


<script>
    if (navigator.serviceWorker) {
        navigator.serviceWorker.register('serviceworker.js').then(() => {
            console.log('registert serviceworker')
        }).catch(() => {
            console.log('Noe feil har skjedd, klarte ikke å registrere serviceworker')
        })
    }
</script>